@page "/"
@using System.Text.RegularExpressions
@using System.Linq;
@using System.Text
@inject IJSRuntime JSRuntime



<div class="container">
    <h1>Upload File</h1>
    <form action="/action_page.php">
        <InputFile OnChange="HandleFileSelected"></InputFile>
    </form>
</div>


<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

@code
{
    private string? fileContent;
    private Dictionary<string, int> elementCount = new();
    
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var stream = file.OpenReadStream(maxAllowedSize: file.Size);
        var sb = new StringBuilder();
        using var reader = new StreamReader(stream);
        string? data;
        while ((data = await reader.ReadLineAsync()) != null)
        {
            sb.AppendLine(data);
        }
        fileContent = sb.ToString();
        var lines = fileContent.Split(new [] {"\r\n", "\r", "\n"}, StringSplitOptions.None);
        var regex = new Regex("(\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}).*?\\s80\\sGET", RegexOptions.IgnoreCase);

        

        foreach (var line in lines)
        {
            var matches = regex.Match(line);
            if (!matches.Groups[1].ToString().Contains("207.114") && matches.Success)
            {
                if (elementCount.ContainsKey(matches.Groups[1].Value))
                {
                    elementCount[matches.Groups[1].Value]++;
                }
                else
                {
                    elementCount[matches.Groups[1].Value] = 1;
                }
            }
        }

        try
        {
            var sortedItems = elementCount
                .OrderByDescending(kvp => kvp.Value)
                .ThenByDescending(kvp => ConvertIpToTuple(kvp.Key));

            var csvContent = GenerateCsvContent(sortedItems);
        
            await JSRuntime.InvokeVoidAsync("downloadFileFromStream", "report.csv", csvContent);
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
            throw;
        }
        
    }
    
    private string GenerateCsvContent(IOrderedEnumerable<KeyValuePair<string, int>> data)
    {
        var sb = new StringBuilder();
        sb.AppendLine("Count, IP Address");

        foreach (var kvp in data)
        {
            sb.AppendLine($"{kvp.Value},{kvp.Key}");
        }

        return sb.ToString();
    }
    
    static Tuple<int, int, int, int> ConvertIpToTuple(string ipAddress)
    {
        var octets = ipAddress.Split('.').Select(int.Parse).ToArray();
        return Tuple.Create(octets[0], octets[1], octets[2], octets[3]);
    }
}
